body{
  margin:0;
  padding: 0;
}
.header{
  display:flex;
  justify-content: space-around;
  background-color: #1F2937;
  align-items: center;
}
.header > .logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  cursor: pointer;
}
ul{
  display: flex;
  list-style-type: none;
  gap: 1em;
  color: #F9FAF8;
}

li{
  cursor: pointer;
}

.section-1{
  display: flex;
  justify-content: space-around;
  background-color: #1F2937;
  padding: 50px;
  
}

.section-1 > .left{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-1 > .right{
  margin: 0 auto;;
}

.section-1 > .left > .head{
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.section-1 > .left > .mid {
  font-size: 18px;
  color: #E5E7EB;
}
.section-1 > .left > .btn-1{
  color: #F9FAF8;
  font-weight: bold;
  border-radius: 6px;
  background-color: #3882F6;
  border: none;
  height: 30px;
  width: 130px;
  cursor: pointer;
}

.section-1 > .right > img{
  background-color: #E5E7EB;
  width: 500px;
}

.section-2 > .head1{
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding: 25px;
}

.section-2 > .cards{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 50px;
}

.section-2 > .cards > .card > .card-box{
  border: 3px solid #3882F6 ;
  border-radius: 8px;
  width: 20vh;
  height: 20vh;
}

.section-2 > .cards > .card > .card-text{
  width:20vh;
  text-align: center;
}

.section-3  {
  background-color: #E5E7EB;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3 > div{
  width: 50%;
}
.section-3 > div > .para{
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.section-3 > div > .thor  {
  font-size: large;
  font-weight: bolder;
  float: right;
}

.section-4{
  margin: 70px 140px;
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  border-radius: 8px;
  align-items: center;
  
}

.section-4 > .right > .text1{
  font-size: 20px;
  color: #E5E7EB;
  font-weight: bold;
  padding-bottom: 8px;
}

.section-4 > .right > .text2{
  color: #E5E7EB;
}

.section-4 > .left > .btn-2{
  color: #E5E7EB;
  font-weight: bold;
  border-radius: 6px;
  border: 2px  solid #E5E7EB;
  height: 35px;
  width: 140px;
  background-color: #3882F6;
  cursor: pointer;
}

.footer{
  text-align: center;
  padding: 30px;
  background-color: #1F2937;
  color: #E5E7EB;
}